.overflow {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
}

* {
  margin: 0px auto;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  background-color: #222639;
}
.space {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}
/*********************************************
                      HEADER 
 ***********************************************/
.header {
  border-bottom: 2px solid black;
  background-image: url("../images/headerimage.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.blue {
  color: black;
  font-weight: 900;
}

/*********************************************
                      MAIN SECTION
 ***********************************************/
.project_header {
  background: #5d0000;
  opacity: 0.6;
}
.project2_info {
  display: none;
  background: #222639;
}
.project_info {
  background: #222639;
  color: white;
}
.middle-section {
  text-align: center;
  background: #222639;
}
.picture2,
.picture1,
.picture3 {
  width: 100%;
  height: 100%;
}
.middle-section p {
  display: inline-block;
}
.main {
  height: 100vh;
  color:white;
}
.peanut {
  display: none;
}

/*********************************************
                     RIGHT SECTION
 ***********************************************/
.subcontent {
  color: white;
  position: absolute;
  left: 11%;
  font-size: 1vw;
}
.subcontent a {
  color: white;
}
.subcontent span {
  font-size: 1vw;
  margin-top: 45px;
}
.contact_info {
  font-size: 14pt;
  margin-top: 14px;
  margin-left: 25px;
  color: white;
}
.info {
  height: 135px;
  border-bottom: 2px dashed white;
  background-image: url("../images/pattern.png");
  margin-bottom: 40px;
}
.technologies {
  position: absolute;
  left: 12%;
}
.icon {
  width: 25%;
  height: 35px;
}
.technologies_item {
  background: #222639;
  border: 2px solid #707070;
  color: white;
  display: inline-block;
  padding: 2%;
  font-size: 3.5vw;
  margin-top: 4%;
}
.sidebar p {
  display: inline-block;
}
.experience {
  height: 33.3%;
  border-bottom: 2px solid black;
  border-top: 2px dashed white;
}
.experience_background {
  background-image: url("../images/pattern.png");
  background-size: 100% 100%;
  opacity: 0.6;
  position: absolute;
  left: 10%;
  top: 0;
  height: 100%;
  width: 90%;
}
.sidebar {
  height: 100%;
  background-color: #222639;
  border-left: 2px dashed white;
  border-right: 2px dashed white;
  display: inline-block;
  left: 0;
  position: absolute;
  padding-left: 3%;
  color: white;
  padding-right: 6%;
}
.verticaltext {
  width: 1px;
  word-wrap: break-word;
  font-family: monospace;
  font-size: 0.8vw;
  font-weight: 1000;
  margin-top: 24px;
}
.verticaltext-center {
  position: absolute;
  top: 25%;
}
@media all and (max-width: 991px) {
  .right-section {
    display: none;
  }
  h2 {
    font-size: 20pt;
  }
  p{
    font-size: 12pt;
  }
  .peanut {
    display: block;
  }
  .main {
    height: 455px;
  }
  .verticaltext {
    font-size: 7pt;
    margin-top: 0px;
  }
  .info {
    height: 160px;
  }
  .sidebar {
    padding-right: 5%;
  }
  .center {
    margin-top: 30px;
  }
  .technologies_item {
    font-size: 12pt;
    padding: 10px;
    margin: 5px;
  }
  .contact{
      font-size:12pt;
      margin-top:3%;
  }
}
@media all and (max-width: 1200px) {
  .subcontents {
    font-size: 1.2vw;
    width:80%;
    color:white;
  }
  a{
      color:white;
  }
  .technologies {
    top: 15%;
  }
}
@media all and (max-width:700px){
    p{
        font-size:10pt;
    }
}
@media all and (max-width: 610px) {
  h1 {
    font-size: 19pt;
  }
  p{
      font-size:9pt;
  }
  .technologies_item{
      font-size:9pt;
      padding:5px;
  }
}
@media all and (max-width:385px){
    p{
        font-size:8pt;
    }
}
.fill-height {
  min-height: 100%;
  height: auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
  background-color: #222639;
}
